# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.pnpm-store
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/entities/*
src/pages/*
src/shared/model/petstore.ts


src/shared/model/schemas/*

# Делаем исключение для файла .gitkeep, чтобы папка не была пустой для Git
!src/entities/.gitkeep
!src/pages/.gitkeep

!src/shared/model/schemas/configInterface.ts